In [12]:
def bfs(graph, start):
  visited = []
  queue = [start]

  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours :
        queue.append(neighbour)
  return visited

In [60]:
graph={'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [13]:
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

bfs(graph, 'Amin')

['Amin', 'Nick', 'Wasim', 'Mike', 'Imran', 'Faras']

In [14]:
# O Amin -------------------
# |            |            |
# O Wasim    O Nick      O Mike
# |
# O Imran
# |
# O Faras

bfs(graph,'Wasim')

['Wasim', 'Amin', 'Imran', 'Nick', 'Mike', 'Faras']

In [16]:
# |            |            |
# O Wasim    O Nick      O Mike
# |
# O Imran
# |
# O Faras

bfs(graph,'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [31]:
#Latihan Slide 17
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [41]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek2',
 'Warek1',
 'Kaprodi3',
 'Kaprodi1',
 'Kaprodi2',
 'Dosen F',
 'Dosen G',
 'Dosen B',
 'Dosen C',
 'Dosen A',
 'Dosen E',
 'Dosen D']

In [19]:
# DEPTH-FIRST SEARCH
def dfs(visited, graph, node):
  if node not in visited:
    print(node)
    visited.add(node)
    for neighbour in graph[node]:
      dfs(visited, graph, neighbour)

In [47]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [48]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [51]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Amin')

Amin
Nick
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [52]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Wasim')

Wasim
Imran
Faras
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [53]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [54]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [55]:
graph3 = {'0' : ['9', '7', '11'],
          '1' : ['10', '8'],
          '2' : ['12', '3'],
          '3' : ['2', '4', '7'],
          '4' : ['3'],
          '5' : ['6'],
          '6' : ['5', '7'],
          '7' : ['3', '6', '11', '0'],
          '8' : ['9', '1', '12'],
          '9' : ['10', '8', '0'],
          '10' : ['1', '9'],
          '11' : ['0', '7'],
          '12' : ['8', '2']
}

In [56]:
bfs(graph3, '0')

['0', '9', '7', '11', '10', '8', '3', '6', '1', '12', '2', '4', '5']

In [57]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek2
Kaprodi3
Dosen F
Dosen G
Kaprodi1
Dosen B
Dosen C
Dosen A
Kaprodi2
Dosen E
Dosen D
Warek1

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}

In [ ]:
#